{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" id="html-page">
<head>
    <style>
        .custom-li {
            margin-top: 10px !important;
        }
    </style>
    {% block custom-styles %}
    {% endblock %}

    <link rel="icon" href="{% static 'img/icon.png' %}">
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}

    {% block custom-scripts %}
    {% endblock %}

    <link rel="stylesheet" href=" {% static 'css/materialize.min.css' %}">
    <script src="{% static 'js/materialize.min.js' %}"></script>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/bot.css' %} ">



    {% block nav-bar %}

        <div>
            <nav>
                <div id="nav-bar-custom" class="navbar-fixed green">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{% url 'dashboard-main' %}"><span class="material-icons">settings</span></a></li>
                    </ul>
                    <div id="dashboard-title" style="margin-left: 30px;">
                        {% block dash-title %}
                            <b>{% trans 'Pagina Inicial' %}</b>
                        {% endblock %}
                    </div>
                </div>
            </nav>
        </div>


        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li class="custom-li"><a href="{% url 'dashboard-main' %}"><span
                    class="material-icons">home</span>{% trans 'Pagina Inicial' %}</a></li>
            <li class="custom-li"><a href="{% url 'manage-product' %}"><span
                    class="material-icons">local_offer</span>{% trans 'Produtos' %}</a></li>
            <li class="custom-li"><a href="{% url 'manage-company' %}"><span
                    class="material-icons">business</span>{% trans 'Empresas' %}
            </a></li>
            <li class="custom-li"><a href="{% url 'manage-min-price' %}"><span
                    class="material-icons">price_check</span>{% trans 'Valores Minimos' %}</a></li>
            <li class="custom-li"><a href="#!"><span class="material-icons">description</span>{% trans 'Relatórios' %}
            </a></li>
            <li class="custom-li"><a href="#!"><span
                    class="material-icons">signal_wifi_statusbar_4_bar</span>{% trans 'Estado' %}</a>
            </li>
            <li class="custom-li"><a href="{% url 'manage-tech' %}"><span
                    class="material-icons">settings_ethernet</span>{% trans 'Dados Técnicos' %}</a></li>
            <li class="custom-li"><a href="#!"><span class="material-icons">manage_accounts</span>{% trans 'Usuários' %}
            </a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    {% endblock %}
</head>
<body>
<div class="container">

    {% block content %}
    {% endblock %}
</div>

</body>

</html>