{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{% trans 'Produtos' %}</title>
{% endblock %}

{% block dash-title %}
    <b>{% trans 'Gerenciar Produtos' %}</b>
{% endblock %}

{% block custom-styles %}
    <style>
        #product-url-custom {
            background-color: rgb(242, 242, 242) !important;

        }

        #product-url-custom a {
            color: rgb(0, 149, 0) !important;

        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s4">
            <h6><b>{% trans 'Inclusão de novo produto' %}</b></h6>
            <br>
            <form action="" method="POST" class="form-select-lg">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button class="btn waves-effect" type="submit" name="action">{% trans 'Cadastrar' %}
                    <i class="material-icons right">send</i>
                </button>

            </form>
            <br>
        </div>
        <div class="col s8">
            <h6><b>{% trans 'Consulta Produtos' %}</b></h6>
            <br>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>{% trans 'Código' %}</th>
                    <th>{% trans 'Descrição' %}</th>
                    <th>{% trans 'EAN' %}</th>
                    <th>{% trans 'Data Cadastro' %}</th>
                    <th>{% trans 'Editar' %}</th>
                    <th>{% trans 'Excluir' %}</th>


                </tr>
                </thead>
                {% for product in products %}
                    <tbody>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.ean }}</td>
                        <td>{{ product.date }}</td>
                        <td><a href="{% url 'update-product' product.pk %}"><span
                                class="material-icons" style="font-size: 20px !important;">edit</span></a>
                        </td>
                        <td><a href="{% url 'delete-product' product.pk %}"><span class="material-icons"
                                                                                  style="font-size: 20px !important;">delete</span></a>
                        </td>

                    </tr>
                    </tbody>
                {% empty %}
                    <tbody>
                    <tr>
                        <td colspan="6">{% trans 'Nenhum produto cadastrado!' %}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

        </div>


    </div>
{% endblock %}