{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}



{% block title %}
    <title>{% trans 'Divs' %}</title>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s6">
            <h6>{% trans 'Inclusão de Nova Tag' %}</h6>
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn waves-effect" type="submit" name="action">{% trans 'Cadastrar' %}
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
        <div class="col s6">
            <h6>{% trans 'Consulta Elementos' %}</h6>
            <div class="fixed right">
                <a href="#"><span class="material-icons">edit</span></a>
                <a href="#"><span class="material-icons">delete</span></a>
            </div>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>{% trans 'ID Preço' %}</th>
                    <th>{% trans 'ID Ame' %}</th>
                    <th>{% trans 'ID Descrição' %}</th>
                    <th>{% trans 'Empresa' %}</th>


                </tr>
                </thead>
                {% for element in div_elements %}
                    <tbody>
                    <tr>
                        <td>{{ element.price_div }}</td>
                        <td>{{ element.ame_div }}</td>
                        <td>{{ element.description_div }}</td>
                        <td>{{ element.company }}</td>

                    </tr>
                    </tbody>
                {% empty %}
                    <tbody>
                    <tr>
                        <td colspan="6">{% trans 'Nenhum elemento cadastrado!' %}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

        </div>


    </div>

{% endblock %}

{% block custom-scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>

{% endblock %}