{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load materializecss %}
{% load crispy_forms_tags %}




{% block title %}
    <title>{% trans 'Preços' %}</title>
{% endblock %}

{% block dash-title %}
    <b>{% trans 'Gerenciar menores preços' %}</b>
{% endblock %}

{% block custom-styles %}
    <style>
        #price-url-custom {
            background-color: rgb(242, 242, 242) !important;

        }

        #price-url-custom a {
           color: rgb(0, 149, 0) !important;

        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s6">
            <h6>{% trans 'Inclusão de Novos Preços' %}</h6>
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                {{ form | crispy }}

                <button class="btn waves-effect" type="submit" name="action">{% trans 'Cadastrar' %}
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
        <div class="col s6">
            <h6>{% trans 'Consulta Preços Minimos' %}</h6>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>{% trans 'Produto' %}</th>
                    <th>{% trans 'Descrição' %}</th>
                    <th>{% trans 'Preço' %}</th>
                    <th>{% trans 'Data Cadastro' %}</th>
                    <th>{% trans 'Editar' %}</th>
                    <th>{% trans 'Excluir' %}</th>


                </tr>
                </thead>
                {% for price in prices %}
                    <tbody>
                    <tr>
                        <td>{{ price.product.code }}</td>
                        <td>{{ price.product.description }}</td>
                        <td>{{ price.min_value }}</td>
                        <td>{{ price.date }}</td>
                        <td><a href="{% url 'update-price' price.pk %}"><span class="material-icons"
                                                                              style="font-size: 20px !important;">edit</span></a>
                        </td>
                        <td><a href="{% url 'delete-price' price.pk %}"><span class="material-icons"
                                                                              style="font-size: 20px !important;">delete</span></a>
                        </td>


                    </tr>
                    </tbody>
                {% empty %}
                    <tbody>
                    <tr>
                        <td colspan="6">{% trans 'Nenhum preço cadastrado!' %}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

        </div>


    </div>

{% endblock %}

{% block custom-scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>

{% endblock %}